<%= form_with(model: item_cart) do |form| %>
  <% if item_cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item_cart.errors.count, "error") %> prohibited this item_cart from being saved:</h2>

      <ul>
        <% item_cart.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :component_id %>
    <%= form.collection_select(:component_id, Component.all.map{|a| ["#{a.model} - #{a.brand.name}", a.id] },:second,:first) %>
  </div>

  <div class="field", style="display: none">
    <%= form.label :cart_id %>
    <%= form.number_field :cart_id, :value => params[:cart_id] %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :unit_price %>
    <%= form.text_field :unit_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
